/*SIDE NAV*/
#sideContainer{
	position: relative;
	width: 360px;
	background: #565252;
}
#sideContainer .side{
	position: absolute;
	width: 360px;
	height: 100%;
	top: 0px;
	bottom: 0px;
	left: 0px;	
}
#sideContainer .side .header{
	height: 100px;
	min-height: 100px;
	background: #343030;
}
#sideContainer .side .header img{
	height: 64px;
	width:  64px;
	margin-right: 8px;
	margin-left: 34px;
}
#sideContainer .side .header span{
	font-family: Montserrat-Regular, sans-serif;
	font-size: 36px;
	color: #fff;
}
#sideContainer .side .itemsContainer{
	overflow-x: auto;
}
#sideContainer .side .itemsContainer .item{
	width: 100%;
	padding: 8px 38px;
	transition: background 0.2s linear;
	cursor: pointer;
}
#sideContainer .side .itemsContainer .item:first-child{
	margin-top: 8px;
}
#sideContainer .side .itemsContainer .item:hover{
	background:rgba(0,0,0,0.15);
}
#sideContainer .side .itemsContainer .item.selected{
	background:rgba(0,0,0,0.3);
}
#sideContainer .side .itemsContainer .item .number{
	font-family: Montserrat-Regular, sans-serif;
	font-size: 12px;
	color: rgba(255,255,255,0.25);
	margin-right: 16px;
	width: 30px;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#sideContainer .side .itemsContainer .item .name{
	font-family: Montserrat-Regular, sans-serif;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}



/*CONTENT*/

#detailContainer{
	position: relative;

}
img{border:0;}
#detailContainer .no-pokemon{
	position: absolute;
	width: calc(100% - 16px);
	top:50%;
	left: 50%;	
	transform: translate(-50%,-50%);
	text-align: center;
	font-family: Montserrat-SemiBold, sans-serif;
    font-size: 60px;
    letter-spacing: 4px;
    color: rgba(0,0,0,0.08)
}

#detailContainer .main{
	position: relative;
}
#detailContainer .main .imageContainer{
	position: relative;
	background: url(../assets/images/pokedex_bg.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
	width: 240px;
    height: 240px;
    border-radius: 6px;
}
#detailContainer .main .imageContainer img{
	position: absolute;
	width: 96px;
    height: 96px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#detailContainer .main .type{
	position: relative;
	width: 100px;
	background:#ccc;
	margin:6px 3px;
	padding: 6px;
	border-radius: 3px;
}
#detailContainer .main .type span{
	display: block;
	width: 100%;
	text-align: center;
	font-family: Montserrat-SemiBold, sans-serif;
	font-size: 14px;
    letter-spacing: 1px;
    color: #000;
    text-transform: uppercase;
}
#detailContainer .main .name{
	font-family: Montserrat-Bold, sans-serif;
    font-size: 28px;
    letter-spacing: 2px;
    color: #000;
    text-align: center;
    margin-top: 6px;
    text-transform: uppercase;
}
#detailContainer .main .number{
	font-family: Montserrat-SemiBold, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: #c5c5c5;
    text-align: center;
    line-height: 22px;
}