<div id="sideContainer">
  <div class="side" fxLayout="column">
    <div class="header" fxLayout="row" fxLayoutAlign="none center">
    	<img src="../assets/images/pokeball.png" (click)="loadData()">
    	<span>POKÉDEX</span>
    </div>
    <div fxFlex class="itemsContainer" >
      <div *ngFor="let item of pokemon_response.results; let i = index" class="item" fxLayout="row" (click)="loadPokemonData(item.url)">
      	<span class="number">{{i+1}}</span>
      	<span class="name">{{item.name}}</span>
      </div>
    </div>
  </div>
</div>

<div id="detailContainer" fxFlex fxLayout="column" >
  <span class="no-pokemon" *ngIf="!current_pokemon">CHOOSE A POKÉMON</span>
  <div fxLayout="row" *ngIf="current_pokemon">
    <div class="main" fxLayout="column">
      <div class="imageContainer">
        <img src="{{current_image}}"/>
      </div>
      
      <div  fxLayout="row" fxLayoutAlign="center none">
        <div class="type" *ngFor="let type of current_pokemon.types;">
          <span>{{type.type.name}}</span>
        </div>
      </div>
      <span class="name">{{current_pokemon.name}}</span>
      <span class="number">No. {{current_pokemon.id}}</span>
    </div>
    
  </div>
</div>

