<side id="sideContainer"  #sideRef [style.opacity]="ds.isMainLoading ? '0' : '1'"></side>

<div id="detailContainer" ui-view="content" fxFlex  *ngIf="!ds.isMainLoading"></div>
<div id="backdrop" (click)="ds.setMenuStatus(false)" [ngClass]="{'open': ds.isOpenMenu}" *ngIf="!ds.isMainLoading"></div>
<div id="mainLoading" fxLayout="column" fxLayoutAlign="center center" *ngIf="ds.isMainLoading" [@fade]>
  <div class ="containerAnim"fxLayout="row" >
    <div id="pikachu"></div>
    <div id="ash"></div>
  </div>
  <span>Loading</span>
</div>

