.no-pokemon{
	position: absolute;
	width: calc(100% - 16px);
	top:50%;
	left: 50%;	
	transform: translate(-50%,-50%);
	text-align: center;
	font-family: Montserrat-SemiBold, sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    color: rgba(0,0,0,0.3);
    transition: all 0.2s linear;

}
.btnMenu{
	position: relative;
	width: 36px;
    height: 36px;
    margin: 32px 0px 0px 24px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.15s linear;
    display: block;
}